# Michael Reese
## Wk5 02/21/2021 - Wk6
### Python For Loops

**General for loops format
    for an item in object:statements to do work

In [1]:
sc = [68,87,90,89,92,78,88,75,79,85]

In [2]:
for n in sc:
    print(n)

In [3]:
4 % 2

In [4]:
5 % 2

In [5]:
for num in sc:
    if num % 2 == 0:
        print(num)

In [6]:
for num in sc:
    if num % 2 != 0:
        print(num)

In [7]:
for num in sc:
    if num % 2 == 0:
        print(num)
    else:
        print("Odd score!")

In [8]:
sc_sum = 0

for n in sc:
    sc_sum = sc_sum + n 
    
print(sc_sum)

In [9]:
sc_sum = 0

for n in sc:
    sc_sum += n 
    
print(sc_sum)

In [10]:
sc_sum = 0

for n in sc:
    sc_sum += n 
    
avg = sc_sum / len(sc)
print(avg)

83.1

In [11]:
for letter in 'I am a studen in CIS310!':
    print(letter)

I

a
m

a

s
t
u
d
e
n

i
n

C
I
S
3
1
0
!

In [12]:
t = (5,7,9,10,14)

for n in t:
    print(n)

5
7
9
10
14

In [13]:
ls1 = [(10,20), (30,40),(50,60), (70,80), (90,100)]

In [14]:
ls1

[(10, 20), (30, 40), (50, 60), (70, 80), (90, 100)]

In [15]:
for t in ls1:
    print(t)

(10, 20)
(30, 40)
(50, 60)
(70, 80)
(90, 100)

In [16]:
for (t1,t2) in ls1:
    print(t1)

10
30
50
70
90

In [17]:
for (t1,t2) in ls1:
    print(t2)

20
40
60
80
100

In [18]:
d = {"brand": "Ford", "model": "Mustang", "year": 1964}

In [19]:
d

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [20]:
for item in d:
    print(item)

brand
model
year

In [21]:
d.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [22]:
d.values()

dict_values(['Ford', 'Mustang', 1964])

In [23]:
d.keys()

dict_keys(['brand', 'model', 'year'])

In [24]:
d.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [25]:
for k,v in d.items():
    print(k)
    print(v)

brand
Ford
model
Mustang
year
1964

In [26]:
for k in d.keys():
    print(k)

brand
model
year

In [27]:
for tup in d.items():
    print(tup)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

In [28]:
sorted([5,6,7,8])

[5, 6, 7, 8]

In [29]:
d1 = {'k1':5,'k2':8,'k3':3}

In [30]:
d1

{'k1': 5, 'k2': 8, 'k3': 3}

In [31]:
d1.values()

dict_values([5, 8, 3])

In [32]:
sorted(d1.values())

[3, 5, 8]

In [33]:
fruits = ['Apple',"Banana","Cherry"]

for f in fruits:
    print(f)

Apple
Banana
Cherry

In [35]:
#break statement
fruits = ['Apple','Grape','Orange','Banana',"Cherry"]
for f in fruits:
    print(f)
    if f == 'Banana':
        break;

Apple
Grape
Orange
Banana

In [36]:
for f in fruits:
    print(f)
    if f == 'Orange':
        break;

Apple
Grape
Orange

In [37]:
for f in fruits:
    if f == 'Banana':
        break;
    print(f)

Apple
Grape
Orange

In [38]:
#continue keyword
for f in fruits:
    if f == 'Banana':
        continue;
    print(f)

Apple
Grape
Orange
Cherry

In [39]:
#Python built-in function - range()
range(6)

range(0, 6)

In [40]:
for num in range(6):
    print(num)

0
1
2
3
4
5

In [41]:
for num in range(2,6):
    print(num)

2
3
4
5

In [42]:
for num in range(1,30,3):
    print(num)

1
4
7
10
13
16
19
22
25
28

In [43]:
for num in range(1,30,3):
    print(num)
else:
    print('Finish Printing!')

1
4
7
10
13
16
19
22
25
28
Finish Printing!

In [44]:
adj = ['red','small','large','tasty']
fruits = ['Apple','Grape','Orange','Banana',"Cherry"]

for a in adj: #outer for
    for f in fruits: #inner for
        print(a,f)

red Apple
red Grape
red Orange
red Banana
red Cherry
small Apple
small Grape
small Orange
small Banana
small Cherry
large Apple
large Grape
large Orange
large Banana
large Cherry
tasty Apple
tasty Grape
tasty Orange
tasty Banana
tasty Cherry

In [48]:
adj = ['red','small','large','tasty']
fruits = ['Apple','Grape','Orange','Banana',"Cherry"]

for a in adj: #outer for
    for f in fruits: #inner for
        if a == 'red' and f == 'Banana':
            continue
        print(a,f)

red Apple
red Grape
red Orange
red Cherry
small Apple
small Grape
small Orange
small Banana
small Cherry
large Apple
large Grape
large Orange
large Banana
large Cherry
tasty Apple
tasty Grape
tasty Orange
tasty Banana
tasty Cherry

In [52]:
#pass
for a in adj: #outer for
    for f in fruits: #inner for
        if a == 'red' and f == 'Banana':
            pass
        else:
            print(a,f)

red Apple
red Grape
red Orange
red Cherry
small Apple
small Grape
small Orange
small Banana
small Cherry
large Apple
large Grape
large Orange
large Banana
large Cherry
tasty Apple
tasty Grape
tasty Orange
tasty Banana
tasty Cherry